.projects-intro{
    font:bold;
}

.projects-list{
    overflow: hidden;
}

.project{
 
 border: 1px solid black;
 border-radius:10px;
 margin-top: 50px;
}

.project img{
    height: 300px;
    width:100%;
    border-radius:10px;
}

.project:hover > .project-content {
    opacity: 1;
    transform: scale(1.02);
    cursor: pointer;
}

.project-content{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 20px;
    height:100%;
    background-color: #135d4dd3;
    color:white;
    font-weight: 500;
    border-radius: 10px;
    opacity:0;
    transition:all 0.5s;
}

.box {
    text-align: center;
    position: relative;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.32);
    overflow: hidden;
}

.box:before,
.box:after {
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background: rgba(11, 37, 54, 0.88);
    opacity:0;
    transition: all 0.5s ease 0s;
}

.box:after{
    background: rgba(255, 255, 255, 0.33);
    border: 2px solid #068b81; 
    top:0;
    left:170%;
    opacity: 1;
    transform: skewX(45deg);
    transition: all 1s ease 0s;
    
}

.box:hover:before {
    opacity: 1;
}
.box:hover:after {left:-170%;}

.box .title {
    display: block;
    font-size: 22px;
    font-weight: 700;
    color:#fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.box .text {
    display: block;
    font-weight: 600;
    font-style: italic;
    color: #fff;
    margin-bottom: 10px;  
}
